@import url("../../styles/styles.css");

.bookings {
  flex: 5;
  padding: 20px;
  margin-left: 2%;
}

.bookingsHeading {
  margin-top: 40px;
  margin-bottom: 1%;
}

.bookingsFilterContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  /* width: 100%; */
  /* display: grid; */
  /* align-items: start; */
  /* justify-items: center; */
}
.filter {
  border: none;
  appearance: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 10vw;
  /* outline: none; */
}

.filter:focus::placeholder {
  color: transparent;
}

.filter::placeholder {
  color: #222;
  transition: color 0.3s ease;
}

.exportDataButton {
  outline: none;
  border-radius: 6px;
  color: #fff;
  background-color: var(--highlight-secondary-colour);
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

.bookingsTableContainer {
  display: flex;
  height: calc(100vh - 5vh - 5vh - 20vh - 60px);
}
