.dashboard{
    flex: 5;
    background-color: #CFEEFD;
    padding: 3%;
}

h1{
    
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: auto;
    width: auto;
    
}

#DBChart{
    
}