.settings-div{
    flex: 5;
    background-color: #CFEEFD;
    padding: 20px;
}

.fields-div {
    padding-top: 20px;
    margin-left: 10px;
}

.settings-text {
    font-weight: bold;
    padding-top: 20px;
}

.settings-fields {
    flex-direction: column;
}

.settings-submit-button-div {
    float: right;
    bottom: 0;
}

.settings-submit {
    color: white;
    width: 150px;
    height: 30px;
    background-color: #89AFB4;
    border-radius: 12px;
    font-weight: bold;
    border: 2px solid #ffffff;
}

.settings-submit:hover {
    background-color: #D8EDB9;
    color: black;
}