@import url('../../styles/styles.css');

.settings-div{
    flex: 5;
    background-color: var(--background-colour);
    padding-left: 20px;
}

.fields-div {
    display: grid;
    grid-template-columns: 15vw 21.2vw;
    gap: 10px;
    padding-top: 20px;
    padding-left: 10px;
    margin: 10px;
    border: 2px solid var(--border-colour);
    border-radius: 10px;
}

.submit-button-cell{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: auto;
    margin-bottom: 20px;
}
.submit-button-cell button{
    width: 100px;
}

input{
    width: 20vw;
}