.card{
    display: flex;
    flex-direction: row;
    margin: 3%;   
    background-color: #04AA6D;
    width: 40%;
    align-items: center;
    justify-content: center;

}

.cardTitle{
    margin: 5%;
    font-size: 25px;
    color: white;
}