.reportsContainer{
    flex: 5;
    width: 100vh;
    padding: 20px;
    background-color: white;
}

.reportsHeader{
    border-color: #CDCDCD;
    margin: 0px 10px 10px 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid #CDCDCD;
    /* border-radius: 10px; */
}

.reports {
    display: flex;
    flex-direction: row;
    min-height: 65vh;
}

.reportsFilter {
    flex: 1 2 auto;
    margin: 10px;
    padding: 10px;
    border-style:solid;
    border-color: #CDCDCD;
    border-width: 2px;
    border-radius: 10px;
}

.reportsGraph {
    flex: 2 1 auto;
    margin: 10px;
    padding: 10px;
    max-height: inherit;
    border-style:solid;
    border-color: #CDCDCD;
    border-width: 2px;
    border-radius: 10px;
}