@import url("../../styles/styles.css");

.reportsContainer{
    flex: 5;
    width: 100vh;
    padding: 20px;
    background-color: white;
}

.reportsHeader{
    margin: 0px 10px 10px 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--border-colour);
}

.reports {
    display: flex;
    flex-direction: row;
    min-height: 75vh;
    max-height: 75vh;
}

.reportsFilter {
    flex: 1 3 auto;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--border-colour);
    border-radius: 10px;
}

.filterInput{
    margin-top: 10px;
    margin-bottom: 10px;
}

.reportsGraph {
    flex: 2 1 auto;
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--border-colour);
    border-radius: 10px;
}

.dateRangeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}