@import url("../../styles/styles.css");

.sidebar {
    width: 30vh;
    padding: 0px 10px 0px 10px;
    background-color: var(--sidebar-background);
    height: calc(100vh - 61px);
    position: sticky;
    top: 61px;
    box-shadow: 0px 0px 10px;
    /* clip-path: inset(0px -10px 0px 0px); */
}

.sidebarWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* justify-content: space-between; */
}

.sidebarMenu {
    flex: 4;
    /* margin-top: 10px; */
}

.sidebarInactive {
    padding: 20px;
    color: black;
    font-weight: 400;
    display: flex;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebarInactive:hover {
    padding: 20px;
    color: #FFFFFF;
    font-weight: 400;
    border-right: 2px solid var(--highlight-secondary-colour);
    background-color: var(--highlight-secondary-colour);
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebarActive {
    padding: 20px;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    background-color: var(--highlight-secondary-colour);
    display: flex;
    text-decoration: none;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebarIcon {
    padding-right: 20px;
}

.footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}