
.table{
    margin: 3%;
    width: 90%;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 15px;
    

}

th{
    background-color: #04AA6D;
    color: white;
}

tr{
    background-color: white;
}

tr:nth-child(odd){
    background-color: #d8d8d8;

}

tr:hover{
    background-color: rgb(189, 230, 202);
}